.users-main::-webkit-scrollbar {
  width: 3px;
  padding-left: 20px;
}

.users-main::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4cqw;
}

.users-main::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 4cqw;
}

.users-main::-webkit-scrollbar-thumb:hover {
  background: #686868;
}

.users-main::-webkit-scrollbar-track-piece:start{
  margin-top: 151px;
}

.users-main {
  height: 100%;
  width: 100%;
}

.users-cont {
  border-radius: 1vw;
  overflow: hidden;
  outline: 1px solid #B1B1B1;
}

.search-icon {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}