.users-main {
  height: calc(100% - 30px);
  padding: 40px 20px 0 20px;
  margin-bottom: 30px;
  overflow: auto;
}

.users-cont {
  width: max-content;
  border-radius: 1vw;
  overflow: hidden;
  outline: 1px solid #B1B1B1;
}