.faculty-row {
    position: relative;
    max-width: 100%;
    height: 7cqw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 3cqw;
    cursor: default;
}

.faculty-row::after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 95cqw;
    height: 2px;
    background-color: #717171;
}

.faculty-row:last-child::after {
    display: none;
}

.faculty-row-text {
    color: #366470;
    font-size: 2.5cqw;
}

.faculty-row-images {
    display: flex;
    flex-direction: row;
    gap: 0.2cqw;
    padding-right: 3cqw;
}

.faculty-row-images > img {
    width: 2.8cqw;
    height: 2.8cqw;
}

.faculty-row-images > .image-edit {
    margin-top: 0.2cqw;
}