.control-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.control-element-text-container{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    width: 31.5vw;
    padding-top: 2.2vmin;
    padding-bottom: 2.2vmin;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #77A3BB;
    border-radius: 1.4vw;
    color: white;
    font-style: italic;
    cursor: default;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3)
}

.control-element-text-container-text{
    font-size: 1.4vw;
    align-self: center;
    margin-left: 1.1vw;
    font-weight: 400;
}

.control-element-text-container-image-edit{
    position: relative;
    top: 0.5vh;
    margin-top: auto;
    margin-bottom: auto;    
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}

.control-element-image-delete{
    position: relative;
    top: 0.5vh;
    margin-top: auto;
    margin-bottom: auto;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}

/*

@media (width < 1024px) {
    .control-element-text-container{
        width: 38vw;
        padding-top: 2.65vmin;
        padding-bottom: 2.65vmin;
    }
    
    .control-element-text-container-text{
        font-size: 1.7vw;
    }
    
    .control-element-text-container-image-edit{    
        width: 2.414vw;
        height: 2.414vw;
    }
    
    .control-element-image-delete{
        width: 3vw;
        height: 3vw;
    }
}

@media (width <= 768px) {
    .control-element-text-container{
        width: 68vw;
        padding-top: 2.65vmin;
        padding-bottom: 2.65vmin;
    }
    
    .control-element-text-container-text{
        font-size: 2.7vw;
    }
    
    .control-element-text-container-image-edit{    
        width: 3.414vw;
        height: 3.414vw;
    }
    
    .control-element-image-delete{
        width: 4vw;
        height: 4vw;
    }
}

@media (width < 540px) {
    .control-element-text-container{
        width: 68vw;
        padding-top: 4vmin;
        padding-bottom: 4vmin;
        border-radius: 3cqw;
    }
    
    .control-element-text-container-text{
        font-size: 5.7vw;
        margin-left: 3vw;
    }
    
    .control-element-text-container-image-edit{    
        width: 6.414vw;
        height: 6.414vw;
        margin-right: 3vw;
    }
    
    .control-element-image-delete{
        width: 7vw;
        height: 7vw;
    }
}

*/