.paginationTable-wrapper {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    width: clamp(60vw, 1300px, 95%);
    height: 80%;
    margin: auto;
}

.paginationTable-container {
    width: 100%;
    max-height: 100%;
    border: 0.1cqw solid #B1B1B1;
    border-radius: 0.5vw;
    overflow: auto;
}
.paginationTable-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    border-radius: 0.5vw 0.5vw 0 0;
}

.paginationTable-container > table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.paginationTable-container td {
    border-right: 0.1cqw solid #B1B1B1;
    border-bottom: 0.1cqw solid #B1B1B1;
    font-family: "Roboto Mono";
    color: #5D6065;
    max-width: 20cqw;
    overflow: auto;
    padding: 0;
}
.paginationTable-container td:last-of-type {
    border-right: none;
}
.paginationTable-container td::-webkit-scrollbar {
    display: none;
}

.paginationTable-container table thead {
    position: sticky;
    top: 0;
    background-color: #D9D9D9;
    font-size: 2cqw;
}

.paginationTable-container thead td {
    min-width: 2.8vw;
    height: 4.5cqw;
    padding-left: 15px;
}

.paginationTable-container tbody {
    background-color: #FFFFFF;
    font-size: 1.6cqw;
}

.paginationTable-container tbody td {
    min-width: 1.4vw;
    height: 5cqw;
    padding-left: 15px;
}

.paginationTable-foot {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background-color: #E8E8E8;
    width: 100%;
    height: 3.5cqw;
    border-top: 0.1cqw solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 0 0 0.5vw 0.5vw;
    color: #5D6065;
}

.paginationTable-foot .foot-row-counter {
    font-size: 1.6cqw;
}

.paginationTable-foot .foot-page-controller {
    position: absolute;
    right: 2cqw;
    display: flex;
    gap: 1cqw;
    align-items: center;
}

.paginationTable-foot .foot-page-controller img {
    width: 1.3cqw;
    height: 1.3cqw;
    cursor: pointer;
}

.paginationTable-foot .foot-page-controller .foot-page-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: #5D6065;
    width: 2cqw;
    height: 2cqw;
    font-size: 1.3cqw;
    border-radius: 0.3cqw;
    cursor: default;
}

/*

@media (width < 1024px) {
    .table-container {
        left: 31.5%;
        width: 65vw;
    }
}

@media (width <= 768px) {
    .table-container {
        left: 2.5%;
        width: 95vw;
    }
}

*/