.paginationTable-wrapper {
    container-type: inline-szize;
    display: flex;
    flex-direction: column;
    width: clamp(60vw, 1300px, 95%);
    height: 80%;
    margin: auto;
}

.paginationTable-container {
    width: 100%;
    max-height: 100%;
    border: 1px solid #B1B1B1;
    border-radius: 30px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #5D6065;
}

.paginationTable-container > table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    background-color: #fff;
    color: #5D6065;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.paginationTable-container thead {
    box-shadow: 0 3px 4px 0 #00000040;
    background-color: #D9D9D9;
}

.paginationTable-container thead td,
.paginationTable-container thead th {
    background-color: #D9D9D9;
    border-top: none !important;
    border: 1px solid #5D606599;
    color: #5D6065;
    text-align: left;
    font-weight: 600;
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 100%;
    padding: 1% 1.6%;
    height: 5vh;
}

.paginationTable-container thead td:last-of-type,
.paginationTable-container thead th:last-of-type {
    border-right: 1px solid #D9D9D9;
}

.paginationTable-container thead td:first-of-type,
.paginationTable-container thead th:first-of-type {
    border-left: 1px solid #D9D9D9;
}

.paginationTable-container tbody {
    background-color: #FFFFFF;
    font-size: 1vw;
}

.paginationTable-container tbody td {
    min-width: 4vh;
    text-align: left;
    border: 1px solid #5D606599;
    height: 4vh;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    padding: 0 1vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paginationTable-container tbody tr:last-of-type {
    border-bottom: 2px solid #dedede;
}

.paginationTable-container tbody tr:hover {
    background-color: #dedede;
    cursor: pointer;
}

.paginationTable-foot {
    background-color: #E8E8E8;
    width: 100%;
    height: 3.5cqw;
    border-top: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
    color: #5D6065;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

.paginationTable-foot .foot-row-counter {
    font-size: 1vw;
}

.paginationTable-foot .foot-page-controller {
    position: absolute;
    right: 2cqw;
    display: flex;
    gap: 1cqw;
    align-items: center;
}

.paginationTable-foot .foot-page-controller img {
    width: 1.3cqw;
    height: 1.3cqw;
    cursor: pointer;
}

.paginationTable-foot .foot-page-controller .foot-page-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: #5D6065;
    width: 2cqw;
    height: 2cqw;
    font-size: 1.3cqw;
    border-radius: 0.3cqw;
    cursor: default;
}

/*

@media (width < 1024px) {
    .table-container {
        left: 31.5%;
        width: 65vw;
    }
}

@media (width <= 768px) {
    .table-container {
        left: 2.5%;
        width: 95vw;
    }
}

*/