.page-root::-webkit-scrollbar {
  width: 3px;
}
.page-root::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4cqw;
}
.page-root::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 4cqw;
}
.page-root::-webkit-scrollbar-thumb:hover {
  background: #686868;
}

.admin {
  background-color: rgba(82, 148, 166, 0.25);
}

.super {
  background-color: #F8E5E5;
}