.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.root, html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #E8E8E8;
}

.content-container{
  container-type: inline-size;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100%;
  gap: 3vw;
}

.add-btn{
  position: sticky;
  top: 3.3vh;
  margin-left: 3vw;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  width: 20.3%;
  height: fit-content;
  background-color: #D9D9D9;
  border-radius: 1.4vw;
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.add-btn:active{
  transform: scale(0.99);
}

.add-btn > span {
  container-type: inline-size;
  font-size: 1.5vw;
  color: #5D6065;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
}

.image-container{
  width: 60%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25%;
}

@media (width < 1440px) {
  .add-btn{
    width: 24.5%;
    padding-top: 1.45vh;
    padding-bottom: 1.45vh;
  }
  
  .add-btn > span {
    container-type: inline-size;
    font-size: 1.81vw;
  }
}

/*

@media (width <= 768px) {
  .content-container{
    left: 0;
    width: 100vw;
    height: 88.7vh;
    justify-content: center;
  }

  .add-btn{
    position: sticky;
    container-type: normal;
    bottom: 4vh;
    display: flex;
    width: 6vw;
    height: 6vw;
    padding: 0.8vw;
    justify-content: center;
    left: 0;
    border-radius: 50%;
  }

  .add-btn > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    justify-self: center;
  }
  
  .add-btn > span {
    display: none;
  }
}

@media (width <= 540px) {
  .add-btn {
    width: 10vw;
    height: 10vw;
    padding: 1.2vw;
  }
}

*/